<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/usarlogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://leaderboard.usaroblox.com" />
    <meta property="og:title" content="USAR Staff Activity Leaderboard" />
    <meta property="og:description" content="Official list of all USAR staff ingame leaderboard" />
    <meta property="og:image" content="https://usaroblox.com/static/usarlogo.png"/>
    <meta name="theme-color" content="#8b0000">
    <title>Staff Leaderboard</title>
    <script type="module" crossorigin src="../static/index-k3CddrLm.js"></script>
    <link rel="stylesheet" crossorigin href="../static/index-dz_jngTQ.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
